@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    padding-top: 100px; 
}

.first-logo {
    background-color: white; 
}

.first-logo img {
    width: 250px; 
    height: auto; 
}

.container { 
    max-width: 800px; 
} 

.title {
    padding: 50px 0px;
}

.title h1 {
    text-align: center; 
    margin: 0;
}

.video-content video{
    width: 100%; 
}

.about-company{
    padding: 50px 0px;
}

.about-company col-md-3{
    text-align: center; 
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;

}

/*--------------------------------------------Footer*/

footer {
    background-color: #262626;
    color: #ffffff;
    font-size: 25px;
    min-height: 120px;
    display: table;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    bottom: 0;
    width: 100%;
    clear: both;
    position: fixed;
    height: 40px;
    margin-top: -40px;
}
    

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 25px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #00ffbf; 
}

#footer-details {
    margin: 20px;

}
