@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    padding-top: 100px; 
}

/*--------------------------------------------Images*/

.first-logo {
    background-color: white; 
}

.first-logo img {
    width: 250px; 
    height: auto; 
    margin-left:-15px; 
}

.second-logo img { 
    position: relative; 
    width: 45px;
    height: 45px; 
    margin-left: -15px; 
}

.third logo img {
    width: 100px; 
    height: 100px; 
}

/*--------------------------------------------Main navigation*/

.navbar-inverse {
    background-color: black;
    font-family: roboto, sans-serif; 
}

.navbar-toggle {
     float: left;
     margin-left: 8px; 
}

/*--------------------------------------------Main content*/
.container { 
    max-width: 700px; 
    font-family: roboto, sans-serif; 
} 

.title {
    padding: 40px 0px;
}

.title h1 {
    font-family: roboto, sans-serif; 
    text-align: center; 
    margin: 0;
    font-size: 25px; 
  
}

.title h1 u {
    font-family: roboto, sans-serif; 
    text-decoration: underline;
    -webkit-text-decoration-color:#33ffad;
    text-decoration-color:#33ffad;
    font-weight: bold;
     
}



.video-content video{
    width: 100%;

}

.about-company{
    padding: 50px 0px;
    margin-bottom: 150px; 
}


.about-company col-md-3{
    text-align: center; 
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;

}

/*--------------------------------------------Footer*/

footer {
    background-color: #262626;
    color: #ffffff;
    font-size: 25px;
    min-height: 120px;
    display: table;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    bottom: 0;
    width: 100%;
    clear: both;
    position: fixed;
    height: 40px;

}
    

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 25px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #33ffad;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #33ffad; 
}

#footer-details {
    margin: 20px;

}

@media screen and (max-width:800px) {
    .second-logo {display:none}
}