@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #ffffff;
}


.ui-menu-color-home {
    background-color: #e67e22;
}

body{
    background-color: #d7d7d7;
}

/*--------------------------------------------Special Paddings/Margins/Text*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #f000000;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
    
    
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/*--------------------------------------------Heading*/

header {
    margin: 0;
    background-color: black; 
    min-height: 20px; 
}

.heading {
    margin-left: 50px;

}

.logo {
    background: url("../images/artboard1.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px; 
    vertical-align: middle;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}


.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 8px;
    color: #ffffff;

}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 70px;
    color: #ffffff;

}

/*--------------------------------------------Contact button*/

.button {
  display: inline-block;
  border-radius: 3px;
  background-color: grey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px; 
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*--------------------------------------------Dropdown menu*/

.dropbtn {
  display: inline-block;
  border-radius: 4px;
  background-color: grey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*--------------------------------------------Footer*/

footer {
    background-color: #000000;
    color: #f000000;
    font-size: 25px;
    min-height: 120px;
    display: table;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    bottom: 0;
    width: 100%;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}
    

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 25px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #059c63;
}

#footer-details {
    margin: 20px;

}


/*--------------------------------------------Media Queries & Iframes*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }
}

.iframe-container{ 
    position: relative; 
    width: 100%; 
    padding-bottom: 56.25%;
    height: 0;
    

} 

.iframe-container iframe{ 
    position: absolute;
    top:0;
    left:0; 
    width: 100%;
    height: 100%; 
    
}


/*-------------------------------------------- Container2*/
.container2 {

    background-color: #ffffff;
    
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

